h3 {
  font-weight: normal;
  background-color: gainsboro;
  margin:0;
  padding: 0.5rem;
}
.message-list {
  border: 1px solid black;
  max-height: 500px;
  height: 500px;
  overflow: scroll;
}
.message-list ul {
  list-style: none;
  padding:0;
  margin:0;
}

.message-list ul li {
  border: 1px solid red;
  margin: 0.25em;
  padding: 0.25em;
}

.message-list li.log {
  background-color: antiquewhite;
  border-color: sandybrown;
}

.message-list li.window {
  background-color: lightblue;
  border-color: deepskyblue;
}
.message-list li > span {
  padding:0;
  padding-right: 1rem;
}

.message-list li.debug-action {
  background-color: aquamarine;
  border-color: green;
}
.message-list li.window b {
}


button.disconnected {
  background-color: lightblue;
}
button.connected {
  background-color: lightgreen;
}